

<section id="intro" class="main style2 dark fullscreen">
<br>
<br>




<div class="col-lg-6">
<section class="popular">
 <h2>Quote of the day </h2>
 <hr class="rank-ruler">
 <h4>" <%= daily_quote %> "<b class="poster"> - <%= @daily_advice_user_name.capitalize %></b></h4>
<!--  <h5>- <%= @daily_advice_user_name.capitalize %></h5> -->
</section>
</div>


<div class="col-lg-6">
<section class="popular">
 <h2>Quote of the week </h2>
 <hr class="rank-ruler">
 <h4>" <%= weekly_quote %> "<b class="poster"> - <%= @weekly_advice_user_name.capitalize %></b></h4>
 <!-- <h5>- <%= @weekly_advice_user_name.capitalize %></h5> -->
 </section>
</div>




<div class="col-lg-6">
<section class="popular">
<h2>Current Ranking!</h2>
<hr class="rank-ruler">
<table class="rank-table">
  <tr class="table-heading">
    <td>Contributor</td>
    <td>Points</td>
    <td>Current Rank</td>
  </tr>
    <% @users.map do |user| %>
      <tr>
        <td><%= user.username.capitalize %></td>
        <td><%= user.points %></td>
        <td><%= user.rank %></td>
    <% end %>
  </tr>
</table>
</section>
</div>



<div class="col-lg-6">
<section class="popular">
<h2>Best MAGIC 8 Quotes </h2>
<hr class="rank-ruler">
  <ol class="best_quotes">
    <li><h4>" <%= popular_query(0) %> " <b class="poster">- <%= popular_query_user_name(0) %></b></h4></li>
    <li><h4>" <%= popular_query(1) %> " <b class="poster">- <%= popular_query_user_name(1) %></b></h4></li>
    <li><h4>" <%= popular_query(2) %> " <b class="poster">- <%= popular_query_user_name(2) %></b></h4></li>
    <li><h4>" <%= popular_query(3) %> " <b class="poster">- <%= popular_query_user_name(3) %></b></h4></li>
    <li><h4>" <%= popular_query(4) %> " <b class="poster">- <%= popular_query_user_name(4) %></b></h4></li>
  </ol>
</section>
</div>


</section>
