<p>The most popular advice is: 
  <ol>
    <li><%= popular_query(0) %></li>
    <li><%= popular_query(1) %></li>
    <li><%= popular_query(2) %></li>
    <li><%= popular_query(3) %></li>
    <li><%= popular_query(4) %></li>
  </ol>
</p>