

<section id="intro" class="main style3 dark fullscreen">





<h1>Ranking!</h1>
<table class="rank-table">
  <tr>
    <td>Contributor</td>
    <td>Points</td>
    <td>Current Rank</td>
  </tr>
    <% @users.map do |user| %>
      <tr>
        <td> <%= user.username.capitalize %></td>
        <td> <%= user.points %></td>
        <td><%= user.rank %></td>
    <% end %>
  </tr>
</table>



<br>
<br>

<p>Most popular MAGIC 8 quotes: 
  <ol>
    <li>1. <%= popular_query(0) %></li>
    <li>2. <%= popular_query(1) %></li>
    <li>3. <%= popular_query(2) %></li>
    <li>4. <%= popular_query(3) %></li>
    <li>5. <%= popular_query(4) %></li>
  </ol>
</p>


</section>