

<section id="intro" class="main style2 dark fullscreen">
<br>

<div class="col-lg-6">
<section class="popular">
 <h2>Quote of the week: </h2>
 <hr class="rank-ruler">
 <h3>" <%= weekly_quote %> "</h3>
</section>
</div>

<div class="col-lg-6">
<section class="popular">
 <h2>Quote of the day: </h2>
 <hr class="rank-ruler">
 <h3>" <%= daily_quote %> "</h3>
</section>
</div>



<div class="col-lg-6">
<section class="popular">
<h2>Ranking!</h2>
<hr class="rank-ruler">
<table class="rank-table">
  <tr>
    <td>Contributor</td>
    <td>Points</td>
    <td>Current Rank</td>
  </tr>
    <% @users.map do |user| %>
      <tr>
        <td> <%= user.username.capitalize %></td>
        <td> <%= user.points %></td>
        <td><%= user.rank %></td>
    <% end %>
  </tr>
</table>
</section>
</div>

<br>
<br>


<div class="col-lg-6">
<section class="popular">
<h2>Best MAGIC 8 Quotes: </h2>
<hr class="rank-ruler">
  <ol>
    <li><h4>" <%= popular_query(0) %> "</h4></li>
    <li><h4>" <%= popular_query(1) %> "</h4></li>
    <li><h4>" <%= popular_query(2) %> "</h4></li>
    <li><h4>" <%= popular_query(3) %> "</h4></li>
    <li><h4>" <%= popular_query(4) %> "</h4></li>
  </ol>
</section>
</div>


</section>