<section id="intro" class="main style3 dark fullscreen">

  <% if current_user %>
  <ol>
   <p><strong>You've posted <%= current_user.advices.count %> times.</strong></p>
   <p> <em>Your Posted advice:</em> </p>
   <p># of bookmarks your posts have had: <%= Advice.joins(:bookmarks).where(user_id: current_user.id).count %>
    <ol>
      <% @advices.map do |advice| %>
      <li><%= advice.content %> Count: <%= Advice.joins(:bookmarks).where(id: advice.id).count  %></li>
      <% end %>
    </ol>
  </p>

  <p><strong>You've bookmarked <%= current_user.bookmarks.count %> times.</strong></p>
  <p><em> Your Bookmarked advice: </em></p>
  <p>
    <ol>
      <% @bookmarks.map do |bookmark| %>
      <li>
       <%= "#{bookmark.advice.content}" %><form action="/delete" method="POST">
       <input type="hidden" name="bookmark_id" value="<%= bookmark.id %>">
       <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-music"></span>        Delete!</button>
     </form></li>
     <% end %>
   </ol>
 </p>
 <% else %>
 <% redirect '/' %>
 <% end %>
</section>
