

<section id="intro"> 

<section class="system_message" id="profile">
  <% if session[:message] %>
   <strong><%= session[:message] %>!</strong>
   <% session[:message] = nil %>
 <% end %>
 </section>

 <section class="main style2 dark fullscreen">

  <% if current_user %>
    <div class="profile">
      <div class="text-center">
        <p style="font-size:60px;"><strong> This is your profile,&nbsp;<%= current_user.username.capitalize %> </strong></p>
        <p><%'post'.pluralize %></p>
      </div>

<br>
<hr>
<br>
      <div class="icon-container">

        <div class="col-lg-4" id="stats">
          <br>
          <br>
          <p><strong>Contributed <b class="empa"><%= current_user.advices.count %></b> 
          <%= 'quote'.pluralize(current_user.advices.count)%>.</strong></p>
          <p><strong>Bookmarked <b class="empa"><%= current_user.bookmarks.count %> </b>
          <%= 'quote'.pluralize(current_user.bookmarks.count)%>.</strong><p>
        </div>

        <div class="col-lg-4"> 


          <div class="progress-bar1">
            <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <script src="javascript/index.js"></script>
              <input type="hidden" id="progressController" min="0" max="100" value="<%= current_user.points %>" />
              <canvas id="inactiveProgress" class="progress-inactive" height="275px" width="275px"></canvas>
            <canvas id="activeProgress" class="progress-active"  height="275px" width="275px"></canvas>
            <p>Rank</p>
            <p><%= current_user.rank %></p>
          </div>


        </div>

        <div class="col-lg-4">
               <br>
          <br>
          <p><strong>Your quotes have been</strong></p>
          <p><strong>bookmarked <b class="empa"> <%= @total_been_bookmarked %></b> <%= 'time'.pluralize(@total_been_bookmarked)%>.</strong></p>
        </div>


      </div>


<div class="col-lg-12">
<hr>
</div>


    <div class="col-lg-6" id="own_post">
      <br>
       <h3> <strong>Quotes You've Posted</strong> </h3>
       <br>
        <ol>
          <% @advices.map do |advice| %>
          <li class="advices"> 
              " <%= advice.content %> "
              <br> 
              <img src="images/bookmark-icon.png"/ height="20px">: <%= Advice.joins(:bookmarks).where(id: advice.id).count %> <%= 'time'.pluralize(Advice.joins(:bookmarks).where(id: advice.id).count)%>.

              <form action="/delete_advice" method="POST">
                <input type="hidden" name="advice_id" value="<%= advice.id %>">
                <input class="round_button" id="remove_advice" type="submit" value="X">
              </form>

          </li>
          <% end %>
        </ol>
    </p>
    </div>
  <div class="col-lg-6" id="bookmarked">
  <br>
  <h3><strong>Quotes You've Bookmarked</strong></h3>
  <br>
  <p>
    <ol>
      <% @bookmarks.map do |bookmark| %>
      <li class="advices">
        <span>" <%= "#{bookmark.advice.content}" %> "</span>
        <form action="/delete_bookmark" method="POST">
         <input type="hidden" name="bookmark_id" value="<%= bookmark.id %>">
         <input class="round_button" id="remove_bookmark" type="submit" value="X">
        </form>
      </li>
     <% end %>
   </ol>
 </p>
 </div>
 
</div>

<% else %>
<% redirect '/' %>
<% end %>
</section>
</section>
