<section id="intro" class="main style3 dark fullscreen">


  <% if current_user %>
   <ol>
     <p> You've posted <%= current_user.advices.count %> times. <br> You've bookmarked <%= current_user.bookmarks.count %> times.
     </p>
   

  <p> <em>Your Posted advice:</em> </p>
  <p>
    <ol>
      <% current_user.advices.map do |advice| %>
      <li><%= "#{advice.content}" %></li>
      <% end %>
    </ol>
  </p>


  <p> Your Bookmarked advice: </p>
  <p>
    <ol>
      <% current_user.bookmarks.map do |bookmark| %>
      <li>
       <%= "#{bookmark.advice.content}" %><form action="/delete" method="POST">
       <input type="hidden" name="bookmark_id" value="<%= bookmark.id %>">
       <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-music"></span>        Delete!</button>
     </form></li>
     <% end %>
     <!--  <a href="/profile">View All Your Posted Advice</a> -->
   </ol>
 </p>
 <% else %>
  <% redirect "/" %>
 <% end %>

</section>
