<section id="intro" class="main style3 dark fullscreen">

<div class="profile">
  <% if current_user %>

      <div class="icon-container">
        <div class="col-lg-3" id="stats"><strong>Your quotes have been bookmarked <b class="empa"><%= current_user.bookmarks.count %> </b>times.</strong></div>
        <div class="col-lg-3"> <p><strong>You've contributed <b class="empa"><%= current_user.advices.count %></b> quotes to Magic 8.</strong></p>  <!-- Fix this!!! user case, 0 times, 1 time, 2 times  --></div>
        <div class="col-lg-3"><p><strong>Your quotes have been bookmarked <b class="empa"> <%= Advice.joins(:bookmarks).where(user_id: current_user.id).count %></b> times.</strong></div>
      </div>
      <div class="col-lg-3"><p><strong>Your MAGIC 8 points: </strong></div>
      </div>
<br>
<br>
<br>
<br>
<br>




    <div class="col-lg-6" id="own_post">
      <ol>
       <h3> <strong>Quotes You've Posted:</strong> </h3>
       <br>
        <ol>
          <% @advices.map do |advice| %>
          <li class="advices"><%= advice.content %> Bookmarked: <%= Advice.joins(:bookmarks).where(id: advice.id).count %> times.</li>
          <% end %>
        </ol>
      </ol>
    </p>
    </div>


  <div class="col-lg-6" id="bookmarked">
  <h3><strong>Quotes You've Bookmarked:</strong></h3>
  <br>
  <p>
    <ol>
      <% @bookmarks.map do |bookmark| %>
      <li class="advices">
      <span><%= "#{bookmark.advice.content}" %></span>
      <form action="/delete" method="POST">
       <input type="hidden" name="bookmark_id" value="<%= bookmark.id %>">
       <input class="" type="submit" value="delete"  style="float: right;" >
     </form></li>
     <% end %>
   </ol>
 </p>
 </div>
 
</div>

<% else %>
<% redirect '/' %>
<% end %>
</section>
